.explore{}
.explore .explore-atas
{
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  padding: 3em 0;
  background-color: rgb(207, 207, 207);
}
.explore .explore-atas h1.judul
{color: grey;
  margin: 0;  font-weight: 300;
}

.explore-pre-menu{
  background-color: rgb(207, 207, 207);

}
nav.explore-menu{  float: none;
  margin: 0 auto;}
nav.explore-menu ul.explore-kategori-list
{
border-bottom: 1px solid rgb(181, 181, 181);
  margin: 0 auto;
  float: none;
  text-align: center;
  padding: 0;

}
nav.explore-menu ul li
{
  display: inline-block;
  padding: 10px 15px;
  margin: 0;

}
nav.explore-menu ul li:hover
{
margin-bottom: -9px;
  zoom: 2;
  margin-top: -9px;
}
nav.explore-menu ul li a{color: whitesmoke;}

.explore .explore-trending{background-color: white;}
.explore .explore-terbaru{}
.explore .explore-terbaru h1{color: rgb(255, 203, 0);}

.explore .explore-kategori-area{}
.explore .explore-subcat-area-bg{
background-size:cover !important;
background-position-y: 67px !important;
background-repeat: no-repeat !important;
padding: 15px 0;
margin: 5px 0;
}
.explore .explore-subcat-area-bg:hover
{
background-image:none !important;
}
.explore .explore-subcat-area{  float: none;min-height:300px;
  margin: 0 auto;}
.explore .explore-subcat-atas
{
  width: 100%;
  border-bottom: 3px solid;
  position: relative;
  display: inline-block;
}
.explore .explore-subcat-atas span{  display: block;}
.explore .explore-subcat-atas span.subjudul-tengah
{
position: absolute;
  display: inline-block;
  color: rgb(139, 139, 139);
  margin: 16px;
  font-size: 18px;
}
.explore .explore-subcat-atas span h2.subjudul
{
  margin: 0;
  float: left;
  padding: 10px 15px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  }
.explore .explore-subcat-atas span a{
  float: right;
  margin-top: 16px;
  color: rgb(107, 107, 107);
  text-decoration: none;
  font-size: 18px;
  font-weight:bold;
}

.explore .explore-subcat-atas span i.more
{
  background-color: initial;
  padding: initial;
  margin: initial;
  position: relative;
  left: initial;
    top: 2px;
  font-weight: bold;
}

/*relayout for content*/
.explore .explore-subcat-area ul.label_with_thumbs{    display: block;
    float: left;    width: 100%;}
.explore .explore-subcat-area ul.label_with_thumbs li{    list-style: none;
    margin: 0 10px;
    background-color: white;
    border-radius: 4px;box-shadow: none;}
.explore .explore-subcat-area ul.label_with_thumbs li a{display: block;}
.explore .explore-subcat-area ul.label_with_thumbs li a img{    width: 100%;}
.explore .explore-subcat-area ul.label_with_thumbs li strong a{    padding: 5px 10px;color: inherit;}
.explore .explore-subcat-area ul.label_with_thumbs li span{
padding: 0 8px 10px;
    display: block;
    line-height: 1.5em;
    word-break: break-all;
}

/*============== TRENDING ===========*/
#featuredpost {margin:15px auto;}
#slides *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
#slides ul,#slides li{padding:0;margin:0;list-style:none;position:relative}
#slides ul{height:320px}
#slides li{width:50%;height:100%;position:absolute;display:none}
#slides li:nth-child(1), #slides li:nth-child(2), #slides li:nth-child(3), #slides li:nth-child(4){display:block}
#slides li:nth-child(1){left:0;top:0}
#slides li:nth-child(2){left:50%;width:25%;height:100%}
#slides li:nth-child(3){left:75%;width:25%;height:50%}
#slides li:nth-child(4){left:75%;top:50%;width:25%;height:50%}
#slides li:nth-child(1) h4 {overflow:hidden;font-size:25px;bottom:0;color:#fafafa;width:100%;
padding:10px 10px 10px 90px;text-align:left;text-transform:uppercase;background:rgba(0,0,0,0.3);
height:90px;font-family:&#39;Oswald&#39;;text-shadow:2px 2px 0 rgba(0,0,0,0.2);line-height:32px;left:0;}
#slides li:nth-child(1) .label_text {font-size:30px;display:block;bottom:10px;left:10px;
padding:0;font-family:&#39;Oswald&#39;;box-shadow:5px 3px 0 rgba(0,0,0,0.2);}
#slides li:nth-child(1) span.dd {display:block;font-size:30px;padding:12px 15px;
background:#ff6553;margin:0;}
#slides li:nth-child(1) span.dm {display:block;font-size:14px;background:#333;color:#fff;
padding:5px 21px;text-transform:uppercase;margin:0;}
#slides li:nth-child(1) span.dy, #slides li:nth-child(1) span.autname{display:none;}
#slides a{display:block;width:100%;height:100%;overflow:hidden}
#slides img{display:block;width:100%;height:auto;border:0;padding:0;background-color:#333;-moz-transform:scale(1.0) rotate(0);-webkit-transform:scale(1.0) rotate(0);-ms-transform:scale(1.0) rotate(0);transform:scale(1.0) rotate(0);transition:all 0.6s linear;}
#slides li a:hover img {-moz-transform:scale(1.1) rotate(1deg);-webkit-transform:scale(1.1) rotate(1deg);-ms-transform:scale(1.1) rotate(1deg);transform:scale(1.1) rotate(1deg);transition:all 0.3s linear;}
#slides .overlayx{width:100%;height:100%;position:absolute;z-index:2;background-image:url(http://2.bp.blogspot.com/-0haO2Mfkjjk/VDgZww2tfEI/AAAAAAAAHAk/zhu3INYSkHA/s1600/fade.png);background-position:50% 40%;background-repeat:repeat-x;}
#slides h4{position:absolute;bottom:40px;margin:0;font-size:13px;font-family:&#39;Oswald&#39;;
left:10px;padding:5px 10px;color:#f9f9f9;z-index:3;line-height:20px;font-weight:normal;
text-align:left;text-transform:uppercase;margin-right:10px;}
#slides .label_text{font-size:12px;color:#fff;bottom:10px;z-index:3;left:10px;
position:absolute;padding:3px 6px;font-family:&#39;Oswald&#39;;
text-transform:uppercase;}
#slides li:nth-child(2) .autname,#slides li:nth-child(3) .autname,#slides li:nth-child(4) .autname{display:none;}
#slides .overlayx,#slides li{transition:all .4s ease-in-out}
#slides li:nth-child(1) .overlayx{display:none;}
#slides li:hover .overlayx{opacity:0.1}
@media only screen and (max-width:800px){
#slides li:nth-child(1) h4 {font-size:18px;line-height:24px;}}
@media only screen and (max-width:600px){
  #slides ul{height:600px}
  #slides li:nth-child(1){width:100%;height:50%}
  #slides li:nth-child(2){top:50%;height:25%;left:0;width:50%}
  #slides li:nth-child(3){left:50%;top:50%;width:50%;height:25%}
  #slides li:nth-child(4){left:0;top:75%;height:25%;width:100%}
  #slides li:nth-child(5){display:none;}}
@media only screen and (max-width:480px){
#slides li:nth-child(1) h4 {font-size:13px;line-height:16px;}}
