.explore{}
.explore .explore-atas
{
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  padding: 3em 0;
  background-color: rgb(207, 207, 207);
}
.explore .explore-atas h1.judul
{color: grey;
  margin: 0;  font-weight: 300;
}

.explore-pre-menu{
  background-color: rgb(207, 207, 207);

}
nav.explore-menu{  float: none;
  margin: 0 auto;}
nav.explore-menu ul.explore-kategori-list
{
border-bottom: 1px solid rgb(181, 181, 181);
  margin: 0 auto;
  float: none;
  text-align: center;
  padding: 0;

}
nav.explore-menu ul li
{
  display: inline-block;
  padding: 10px 15px;
  margin: 0;

}
nav.explore-menu ul li:hover
{
margin-bottom: -9px;
  zoom: 2;
  margin-top: -9px;
}
nav.explore-menu ul li a{color: whitesmoke;}

.explore .explore-trending{background-color: white;}
.explore .explore-terbaru{}
.explore .explore-terbaru h1{color: rgb(255, 203, 0);}

.explore .explore-kategori-area{}
.explore .explore-subcat-area-bg{
background-size:cover !important;
background-position-y: 67px !important;
background-repeat: no-repeat !important;
padding: 15px 0;
margin: 5px 0;
}
.explore .explore-subcat-area-bg:hover
{
background-image:none !important;
}
.explore .explore-subcat-area{  float: none;min-height:300px;
  margin: 0 auto;}
.explore .explore-subcat-atas
{
  width: 100%;
  border-bottom: 3px solid;
  position: relative;
  display: inline-block;
}
.explore .explore-subcat-atas span{  display: block;}
.explore .explore-subcat-atas span.subjudul-tengah
{
position: absolute;
  display: inline-block;
  color: rgb(139, 139, 139);
  margin: 16px;
  font-size: 18px;
}
.explore .explore-subcat-atas span h2.subjudul
{
  margin: 0;
  float: left;
  padding: 10px 15px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  }
.explore .explore-subcat-atas span a{
  float: right;
  margin-top: 16px;
  color: rgb(107, 107, 107);
  text-decoration: none;
  font-size: 18px;
  font-weight:bold;
}

.explore .explore-subcat-atas span i.more
{
  background-color: initial;
  padding: initial;
  margin: initial;
  position: relative;
  left: initial;
    top: 2px;
  font-weight: bold;
}

/*relayout for content*/
.explore .explore-subcat-area ul.label_with_thumbs{    display: block;
    float: left;    width: 100%;}
.explore .explore-subcat-area ul.label_with_thumbs li{    list-style: none;
    margin: 0 10px;
    background-color: white;
    border-radius: 4px;box-shadow: none;}
.explore .explore-subcat-area ul.label_with_thumbs li a{display: block;}
.explore .explore-subcat-area ul.label_with_thumbs li a img{    width: 100%;}
.explore .explore-subcat-area ul.label_with_thumbs li strong a{    padding: 5px 10px;color: inherit;}
.explore .explore-subcat-area ul.label_with_thumbs li span{
padding: 0 8px 10px;
    display: block;
    line-height: 1.5em;
    word-break: break-all;
}

/*============== TRENDING ===========*/
#halaman-awal-slide
{
    z-index: 10;
position: relative;
left: 0;
display: block;
width: 100%;
float: left;
}
ul.rcentside {font: normal normal .8em monospace;}
ul.rcentside,ul.rcentside li{margin:0;padding:0;list-style:none;position:relative}
ul.rcentside{width:100%;height:440px}
ul.rcentside li{height:24.5%;position:absolute;padding:0;width:49.5%;float:left;overflow:hidden;display:none}
ul.rcentside li:nth-child(1),ul.rcentside li:nth-child(2),ul.rcentside li:nth-child(3),ul.rcentside li:nth-child(4){display:block}
ul.rcentside img{border:0;width:100%;height:100%}
ul.rcentside li:nth-child(1){
width: 50%;
height: 100%;
margin: 0 0 2px;
left: 0;
top: 0;
}
ul.rcentside li:nth-child(2){
left: 50%;
top: 0;
width: 25%;
height: 100%;
}
ul.rcentside li:nth-child(3){
    right: 0;
top: 0;
width: 25%;
height: 50%;
}
ul.rcentside li:nth-child(4){
    right: 0;
top: 50%;
width: 25%;
height: 50%;
}
ul.rcentside .overlayx,ul.rcentside li{-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
ul.rcentside .overlayx {
width: 100%;
height: 100%;
position: absolute;
z-index: 2;
left: 0;
top: 0;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, #000000));
background: -webkit-linear-gradient(transparent,#000000);
background: -moz-linear-gradient(transparent,#000000);
background: -o-linear-gradient(transparent,#000000);
background: linear-gradient(transparent,#000000);
}
ul.rcentside img {
border-right: .1em solid #9E9E9E;
}
ul.rcentside .overlayx:hover{
   opacity:.5;
background:#000;
} 
ul.rcentside h4 {
position: absolute;
bottom: 30px;
z-index: 2;
color: white;
margin: 0;
width: 100%;
font-size: 2.5em;
padding: 0 10px;
line-height: 1em;
font-family: 'Slabo 27px', serif;
font-weight: normal;
}
ul.rcentside li:nth-child(1) h4{font-size:5em}
ul.rcentside .label_text {
position: absolute;
bottom: 10px;
left: 10px;
z-index: 2;
color: rgb(255, 176, 86);
}
ul.rcentside li:nth-child(2) .autname,ul.rcentside li:nth-child(3) .autname{display:none}
.hal-awal-sider-tombol{margin: 5px 0 0;
top: 50%;
position: absolute;
width: 100%;
}
.tombol{top:45%;width: 100%;display:block;position: absolute;z-index: 5;}
.tombol a{display: inline-block;
text-indent: -9999px;
background: rgba(0, 0, 0, 0.82);
position: relative;
padding: 15px 35px;}
.tombol a.sebelum{float:left;}
.tombol a.sesudah{float:right;}
.tombol a::before{content:"";width:0;height:0;border-width:8px 7px;border-style:solid;border-color:transparent #535353 transparent transparent;position:absolute;top:50%;margin-top:-8px;margin-left:-10px;left:50%}
.tombol a.sebelum::before{border-color:transparent transparent transparent #535353;margin-left:-3px}
.tombol a.sesudah::before{border-color:transparent transparent transparent #535353;margin-left:-3px}
