.kategori{}
.kategori .kategori-atas
{
  text-align: center;
    height: 50%;
  background: rgba(114, 111, 175, 0.81) url("https://cloud.githubusercontent.com/assets/11361401/9291794/45ded462-4389-11e5-99c1-8d9d665a9386.png");
  background-size: contain;
}
.kategori .kategori-atas h1
{  padding: 10% 0;
  font-weight: 300;
  font-size: 4em;
  margin: 0;
 color: #FFA100;
}
.kategori .pilihan{
    text-align: center;
    margin-top: 40px;
    border-bottom: 1px solid rgb(255, 192, 0);
    float: none;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.kategori .pilihan span{  text-align: center;}
.kategori .pilihan span a{
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    color: #FFC000;
    cursor: pointer;
    text-transform: uppercase;
  }
  .kategori .pilihan span a.bottom-bordered{
  border-bottom:4px solid;
  }
.kategori .kategori-area
{
  float: none;
  margin: 0 auto;
}
.kategori .kategori-area .kategori-item
{
  margin: 0;
  padding: 30px;
}
.kategori .kategori-item .kategori-sub
{
  padding: 0;
  border-radius: 8px;
  padding-top: 40%;
  background-size: initial;
  box-shadow: 0 0 10px -5px rgb(47, 47, 47);
  background-position-x: 50%;
}
.kategori .kategori-item .kategori-judul::before
{
content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 28px 28px 28px;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  position: absolute;
  margin-top: -28px;
}
.kategori .kategori-item .kategori-sub a:hover
{
font-weight:bold;
}
.kategori .kategori-item .kategori-sub ul
{
  padding: 0 40px;
  list-style-type: none;
  border-radius: 0 0 8px 8px;
  margin:0;
  }
.kategori .kategori-item .kategori-sub ul li{ padding:10px 0;margin: 0;list-style: none;}
.kategori .kategori-item .kategori-sub ul li:hover{}
.kategori .kategori-item .kategori-sub ul li h2
{
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: white;
  cursor:pointer;
}
.kategori .kategori-item .kategori-sub ul ul li a.kategori-more
{
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 0 0 8px 8px;
  text-align: center;
  display: block;
  font-size: 18px;
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: -10px;
  padding: 12px;
}
.kategori .kategori-item .kategori-sub ul ul{margin: 0;display:none;  padding: 0;}
.kategori .kategori-item .kategori-sub ul ul li:first-child{  border-top: 1px solid rgba(0, 0, 0, 0.15);}
.kategori .kategori-item .kategori-sub ul ul li{}
.kategori .kategori-item .kategori-sub ul ul li i{padding: 0 10px 0 0;  font-size: 2em;vertical-align: middle;}
.kategori .kategori-item .kategori-sub ul ul li a{  color: white;text-decoration: none;font-size: 20px;}
.kategori .kategori-item .kategori-sub ul ul ul{padding-left: 40px;display: block;}
.kategori .kategori-item .kategori-sub ul ul ul li{}
.kategori .kategori-item .kategori-sub ul ul ul li:first-child{border-top:none;}

.library{}
.library .area-library{}
.library .library-kategory{
  float: none;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-family: -webkit-pictograph;
  color: rebeccapurple;
  font-size: 22px;
  border-bottom: 1px solid rebeccapurple;
  height: 14px;
}
  .library .library-kategory span{
background-color: rgb(240, 240, 240);
  padding: 10px;}
.library .library-item{  margin: 40px auto;
  float: none;  display: inline-block;}
.library .cat-library{  
width: 20%;
  float: left;}
.library .cat-library img{ 
  height: auto;
  width: 100%;
  margin: 20% 0;
  float: none;
  background-size: cover !important;
}
.library .cat-library span{ 
  height: 150px;
  margin: 10px 10px 0 0;
  display: block;
    background-size: cover !important;
  }
.library .cat-library a:hover{
 background-color: initial !important;
}
.library .cat-library a{
display: block;
  height: 150px;
text-align: center;
  }
.mask-buku-kategori
{
  width: 100%;
  margin-top: -82% !important;
  z-index: 0;
}
/*FOR BG */
/*BG - TUTORIAL*/
.agama-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291666/c791a53c-4381-11e5-87aa-e55157829a63.jpg');}

.edukasi-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291667/c7d7b9a0-4381-11e5-9336-a3fc398ef6c6.jpg');}

.ekonomi-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291668/c7efd09e-4381-11e5-843b-9b0016f53cf8.jpg');}

.hobi-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291671/c83a13ca-4381-11e5-892c-454878e99894.jpg');}

.hiburan-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291670/c80b012a-4381-11e5-819f-f86b82d67ed9.jpg');}

.gayahidup-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291669/c7f8f8f4-4381-11e5-8a4d-48f95bb3ec92.jpg');}

.kehidupan-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291658/c633ccba-4381-11e5-8ea0-b9046a4a3915.jpg');}

.kendaraan-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291659/c652c96c-4381-11e5-8aac-4639e7d577aa.jpg');}

.kerja-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291661/c6c20304-4381-11e5-87b1-63fa4d9d0c4a.jpg');}

.pc-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291662/c6fb7012-4381-11e5-9338-3266c849deb0.jpg');}

.lezat-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291660/c6bb8bd2-4381-11e5-9ba9-0c9047cc140f.jpg');}

.sehat-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291664/c74d2998-4381-11e5-9476-efb29313df12.jpg');}

.rumah-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291663/c7465b7c-4381-11e5-83a1-5bf09a6015ad.jpg');}

.traveling-background-img-wide-800 {background-image:url('https://cloud.githubusercontent.com/assets/11361401/9291671/c83a13ca-4381-11e5-892c-454878e99894.jpg');}

/*buku bg*/

.buku-anak-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291624/77028802-4381-11e5-8ee9-b028336f1a23.jpg") !important}
.buku-biografi-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291625/7734d258-4381-11e5-8534-029176311248.jpg") !important}
.buku-fiksi-dan-literatur-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291628/778a5f5c-4381-11e5-9d0a-3c09561bbf2a.jpg") !important}
.buku-kehidupan-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291634/7826f1be-4381-11e5-8571-77e18cbf3165.jpg") !important}
.buku-kerajinan-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291637/78870216-4381-11e5-83b8-173b94d71f98.jpg") !important}
.buku-kesehatan-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291636/786bfd5e-4381-11e5-8992-c5b1546a6ff8.jpg") !important}
.buku-komputer-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291638/78aa6a76-4381-11e5-8dfa-1f733aae3f28.jpg") !important}
.buku-percintaan-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291642/78f8953e-4381-11e5-99f4-507a323aaef5.jpg") !important}
.buku-sosial-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291647/7997774e-4381-11e5-80e0-cdca1199c199.jpg") !important}
.buku-tabloid-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291648/799ab652-4381-11e5-839b-150413311d8d.jpg") !important}

.buku-agama-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291623/76d1a066-4381-11e5-8a0b-6037622f3f66.jpg") !important}
.buku-anakmuda-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291627/77762c1c-4381-11e5-8fb0-17ce7f10f5b4.jpg") !important}
.buku-edukasi-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291629/77a4bd5c-4381-11e5-84a4-41a7261b8523.jpg") !important}
.buku-ekonomi-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291626/776a2002-4381-11e5-9c89-c4eddde787c1.jpg") !important}
.buku-gaya-hidup-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291631/77d7760c-4381-11e5-991c-04bdf4b668fd.jpg") !important}
.buku-hiburan-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291630/77cc3c24-4381-11e5-9c2d-67d7cf6d96be.jpg") !important}
.buku-hukum-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291632/7801a558-4381-11e5-8829-4058aa7217cd.jpg") !important}
.buku-ilmiah-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291633/781772de-4381-11e5-90c5-2d9055c18cae.jpg") !important}
.buku-keluarga-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291635/783ca4c8-4381-11e5-9a2d-d42bf0ef6b9e.jpg") !important}
.buku-memasak-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291639/78baae90-4381-11e5-8699-58ac939efd25.jpg") !important}
.buku-olah-raga-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291640/78cb4336-4381-11e5-967e-e59065c7b92b.jpg") !important}
.buku-referensi-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291641/78f3d044-4381-11e5-910a-7f974868da7d.jpg") !important}
.buku-rumah-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291643/7943a0c4-4381-11e5-9391-5c07df8b7d99.jpg") !important}
.buku-sains-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291644/795f800a-4381-11e5-914e-465d0d4febca.jpg") !important}
.buku-sejarah-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291645/797ad666-4381-11e5-8ca5-8cb49858ef05.jpg") !important}
.buku-seni-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291646/798fbac2-4381-11e5-9e3b-3575345cbaeb.jpg") !important}
.buku-teknik-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291649/79d84120-4381-11e5-8a30-d59729779ee1.jpg") !important}
.buku-travel-bg{background:url("https://cloud.githubusercontent.com/assets/11361401/9291650/79dd2028-4381-11e5-963a-975a6cac9286.jpg") !important}
