.peraturan{}
.peraturan .area-samping-kiri{
    background-color: rgb(220, 220, 220);
  margin: 20px;
  padding: 15px;
  border-radius: 6px;
  color: grey;
}
.peraturan .area-samping-kiri span{  display: block;
  margin-bottom: 30px;
  padding-bottom: 8px;
  font-size: 20px;
  border-bottom: 1px solid rgb(213, 213, 213);}
.peraturan .area-samping-kanan{  background-color: white;
  border-radius: 6px;
  margin: 20px;
  padding: 3px 35px;}
.peraturan h1.peraturan-judul{color: grey;
  font-weight:300}

  .peraturan p.hak-cipta{font-size: 12px;text-align:center;}

.wrap-tabs{
background-color: orange;
    box-shadow: 0 5px 8px rgba(80, 80, 80, 0.21);
    position: fixed;
    top: 48px;
    z-index: 9000;
}
.wrap-tab-contents {
    margin-top: 110px;
}
.wrap-tabs,
.wrap-tab-contents {
  width: 100%;
  float: left;
}

.tabs .tab {
  float: left;
  padding: 5px;
  margin: 15px 0 0 0;
  color: white;
  font-size: 20px;
}

.tabs .tab:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(255, 240, 83);
  color: white;
}

.tabs .tab-active,
.tabs .tab-active:hover {
  color: #fff;
  border-bottom: 3px solid #FFF;
  font-weight: bold;
}

.tab-contents { position: relative; }
.area-samping-kiri ul{    padding: 0;}
.area-samping-kiri ul li:last-child{border-bottom:none;}
.area-samping-kiri ul li{    padding: 8px 0px;
  list-style: none;
    border-bottom: 1px solid #C1C1C1;
    margin: 0;
}
.area-samping-kiri ul li a{font-size: 20px;
    text-decoration: none;
    color: inherit;}
