#list-main {
    margin: 0 auto;
}
.post img {
     max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.thumbnail {
    display: block;
    padding: 0;
    line-height: 1.428571429;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.1);
}
.homapge-thumb {
  width: 290px;
  margin: 5px 0;
  float: left;
