
#halaman-awal-slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color:#494949;
  height:500px
}

#halaman-awal-slider ul.halaman-awal-slider {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.halaman-awal-slider li.slider-background1
{
	background-image:url(../img/bg/1.jpg);
}
.halaman-awal-slider li.slider-background2
{
	background-image:url(../img/bg/2.jpeg);
}
.halaman-awal-slider li.slider-background3
{
	background-image:url(../img/bg/3.jpg);
}
.halaman-awal-slider li.slider-background4
{
	background-image:url(../img/bg/4.jpeg);
}
#halaman-awal-slider ul.halaman-awal-slider li.slideset:hover{
background-size:130% auto;
 }
#halaman-awal-slider ul.halaman-awal-slider li.slideset {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 500px;
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  background-size:100% auto;
  transition:all 5s;
}
#halaman-awal-slider ul.halaman-awal-slider li.slideset p{
  bottom: 0;
  font-size: 4em;
  color: white;
  left: 0;
  padding: 0;
  margin: 30px;
  opacity: .4;
  position: absolute;
  font-weight: 600;
  text-align: left;
	}

/*form pencarian*/
.pencarian{ 
  margin:0;
  margin-top: 300px;
  padding: 0;
  z-index: 70;
  float: none;
  position: absolute;
  }
 .pencarian span{  font-size: 36px;
  color: white;font-family: serif;
  font-style: italic;}
.pencarian form{  z-index: 90;
  display: block;
  position: relative;
  margin:0 auto;
  float:none;}
.pencarian form .input-cari{ 
  border: none;
  font-size: 36px;
  padding-left: 6px;
  background-color: transparent;
  color: white;
  z-index: 71;
  border-bottom: 4px dotted white;
  font-family: serif;
  font-style: italic;
  float: none;
  }
.pencarian form .input-cari:focus{ outline:none }
.pencarian form .tombol-cari{
  position: relative;
  float: right;
  background-color: transparent;
  border: none;
  padding:0;
  }
.pencarian form .tombol-cari img{height: 56px;width: auto;}

/*judul*/
.judul{  position: absolute;
  z-index: 100;
  display: block;
  text-align: center;
  margin-top: 30px;}
.judul .logo{}
.judul .logo img{  width: 256px;
  height: auto;}
.judul .slogan{  width: 58%;
  margin: 0 auto;}
.judul .slogan h1{display: inline;
  color: white;
  font-weight: 300;
  font-size:2em}

/*FOLLOW*/
.follow{  z-index: 110;
  position: absolute;
  right: 0;
  color: white;
  display: block;
  margin-top: -70px;}
  .follow .text{  background-color: rgb(33, 104, 255);
  padding: 5px 10px;
  font-weight: bold;
  float: right;
  display: inline-block;}
.follow .sosial{  float: right;
  padding: 5px 10px;}
 
/*  kategory slider */
#kategori-slider{  height: 248px;
  background-color: rgb(60, 60, 60);  margin-left: 54px;
  }
#kategori-slider .slide{
	  height: 200px;
      margin: 20px;
      border-radius: 8px;
      box-shadow: inset 0px -60px 100px rgba(0, 0, 0, 0.9);
	}
}
#kategori-slider a{ }
#kategori-slider span{position: absolute;
  bottom: 34px;
  margin-left: 18px;
  font-size: 36px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.59); 
  text-transform: capitalize;
  }
#kategori-slider .slide1{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023486/e41d2f3c-0cc2-11e5-9c12-fb73e2a46581.jpg');}
#kategori-slider .slide2{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023487/e421d71c-0cc2-11e5-86c2-c1ceac46e6b7.jpg');}
#kategori-slider .slide3{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023488/e4256dc8-0cc2-11e5-94ad-31c512e56033.jpg');}
#kategori-slider .slide4{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023498/e4987de0-0cc2-11e5-973c-c1d19ce60685.jpg');}
#kategori-slider .slide5{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023491/e45d03a0-0cc2-11e5-8d55-2a83b35ee312.jpg');}
#kategori-slider .slide6{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023499/e50fbe78-0cc2-11e5-98f6-59e1e5d67765.jpg');}
#kategori-slider .slide7{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023489/e4290f28-0cc2-11e5-950f-5af94aec6cfd.jpg');}
#kategori-slider .slide8{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023490/e42def3e-0cc2-11e5-8f1a-0351fd256a6e.jpg');}
#kategori-slider .slide9{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023492/e461d876-0cc2-11e5-9b2d-060005ac4e25.jpg');}
#kategori-slider .slide10{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023493/e465d084-0cc2-11e5-8875-9a453246c042.jpg');}
#kategori-slider .slide11{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023497/e4923d9a-0cc2-11e5-98fe-4d5bebebbd94.jpg');}
#kategori-slider .slide12{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023494/e469f808-0cc2-11e5-916f-8b4823f05fc0.jpg');}
#kategori-slider .slide13{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023491/e45d03a0-0cc2-11e5-8d55-2a83b35ee312.jpg');}
#kategori-slider .slide14{background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023496/e48eaab8-0cc2-11e5-9d69-f13332bc607d.jpg');}
span.judul-kategori-slider
{
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  color: white;
  z-index: 20;
  font-size: 40px;
  height: 56px;
  width: 229px;
  background-color: rgb(255, 184, 0);
  margin-top: 96px;
  left: -97px;
  padding-left: 19px;
  text-transform: uppercase;
  font-weight: lighter;	
}

/*buku*/

.buku {  background-color: rgb(150, 108, 60);position:relative;}
.buku .buku-header{padding:10px 0}
  .buku span.judul-buku{  font-size: 20px;
  color: white;
  font-weight: 700;  margin-left: 10px;}
  .buku span.trend-buku{}
  .buku span.trend-buku a{font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 10px;}
  .buku span.lagi{}
.buku .isi-buku{min-height:300px;  background-color: rgb(113, 81, 44);}

/*jelajah*/
.jelajah
{
  text-align: center;
  background-image:url('https://cloud.githubusercontent.com/assets/11361401/8023559/77aa5d4a-0cc5-11e5-930b-f8695be100e1.jpg');
  background-repeat: repeat;
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 100px;
  box-shadow: inset 0 -67px 60px rgba(0, 0, 0, 0.55);
  }
  .jelajah .area-jelajah{
  margin: 0 auto;
  float: none;}
  .jelajah .judul-explore{  padding: 50px 0;
  text-align: center;
  display: block;
  font-size: 40px;
  position: relative;
  float: left;
  width: 100%;  
  color: white;
  }
.jelajah span.cat-jelajah{display: inline-block;
  padding: 8px 30px;
  margin: 15px 20px;
  width: 190px;
  border-radius: 6px;}
.jelajah h2{}
.jelajah h2 a{  color: white;
  text-decoration: none;text-transform: capitalize;}
.jelajah .agama {background-color: #f4d24a;}
.jelajah .edukasi {background-color:#f58e4b;}
.jelajah .ekonomi {background-color:#eb4e3f ;}
.jelajah .hobi {background-color:#4dd3b8 ;}
.jelajah .hiburan {background-color:#ea999f ;}
.jelajah .gayahidup {background-color:#ff64c0 ;}
.jelajah .kehidupan {background-color:#d589d4 ;}
.jelajah .kendaraan {background-color:#9cacc3 ;}
.jelajah .kerja {background-color:#d3b184 ;}
.jelajah .elektronik {background-color:#67b9de ;}
.jelajah .lezat {background-color:#b7d657 ;}
.jelajah .kesehatan {background-color:#5ad88f ;}
.jelajah .traveling {background-color:#60a2a1 ;}
.jelajah .rumah {background-color:#7e507e ;}
div.jelajah 
{ 
    animation:myanim 360s;
    -webkit-animation:myanim 160s infinite;
}
@keyframes myanim {
    0% {
        background-position:0 0;
    }
    50% {
        background-position:0 -5000px;
    }
    100% {
        background-position:0 0;
    }
}

@-webkit-keyframes myanim
/* Safari and Chrome */
 {
    0% {
        background-position:0 0;
    }
    50% {
        background-position:0 -5000px;
    }
    100% {
        background-position:0 0;
    }
}
/*footer*/
footer{background-color: black;
  position: relative;
  display: block;
  width: 100%;}
footer .hakcipta{float: left;}
footer .hakcipta p{color: grey;
  padding: 0 10px;
  font-size: 12px;}
footer .link{float: right;}
footer .link span{float: left;}
footer .link span h4{  padding: 7px;
  margin: 5px 0;}
footer .link span a{font-size: 12px;
  text-decoration: none;
  color: white;
  background-color: rgb(39, 39, 39);
  padding: 4px 7px;
  border-radius: 2px;}
