/* =============================================================================
   INDEX WARNA
   ========================================================================== */
.agama-color{color:#f4d34a !important; }
.agama-background-color{background-color:#f4d34a !important; }
.agama-background-image{background-image:url(''); }
.agama-hover:hover{background-color:#f4d34a !important; }
.agama-border-color{border-color:#f4d34a !important; }


.edukasi-color{color:#f48e4a !important; }
.edukasi-background-color{background-color:#f48e4a !important;  }
.edukasi-background-image{background-image:url(''); }
.edukasi-hover:hover{background-color:#f48e4a !important; }
.edukasi-border-color{border-color:#f48e4a !important; }

.ekonomi-color{color:#eb4e3f !important; }
.ekonomi-background-color{background-color:#eb4e3f !important; }
.ekonomi-background-image{background-image:url(''); }
.ekonomi-hover:hover{background-color:#eb4e3f !important; }

.hobi-color{color:#eb4e3f !important; }
.hobi-background-color{background-color:#eb4e3f !important;  }
.hobi-background-image{background-image:url(''); }
.hobi-hover:hover{background-color:#eb4e3f !important; }
.hobi-border-color{border-color:#eb4e3f !important; }

.hiburan-color{color:#ea9a9f !important; }
.hiburan-background-color{background-color:#ea9a9f !important; }
.hiburan-background-image{background-image:url(''); }
.hiburan-hover:hover{background-color:#ea9a9f !important; }
.hiburan-border-color{border-color:#ea9a9f !important; }

.gayahidup-color{color:#ea9a9f !important; }
.gayahidup-background-color{background-color:#ea9a9f !important; }
.gayahidup-background-image{background-image:url(''); }
.gayahidup-hover:hover{background-color:#ea9a9f !important; }
.gayahidup-border-color{border-color:#ea9a9f !important; }

.kehidupan-color{color:#d589d5 !important; }
.kehidupan-background-color{background-color:#d589d5 !important; }
.kehidupan-background-image{background-image:url(''); }
.kehidupan-hover:hover{background-color:#d589d5 !important; }
.kehidupan-border-color{border-color:#d589d5 !important; }

.kendaraan-color{color:#9bacc3 !important; }
.kendaraan-background-color{background-color:#9bacc3 !important; }
.kendaraan-background-image{background-image:url(''); }
.kendaraan-hover:hover{background-color:#9bacc3 !important; }
.kendaraan-border-color{border-color:#9bacc3 !important; }

.kerja-color{color:#d4b184 !important; }
.kerja-background-color{background-color:#d4b184 !important; }
.kerja-background-image{background-image:url(''); }
.kerja-hover:hover{background-color:#d4b184 !important; }
.kerja-border-color{border-color:#d4b184 !important; }

.pc-color{color:#68b9de !important; }
.pc-background-color{background-color:#68b9de !important; }
.pc-background-image{background-image:url(''); }
.pc-hover:hover{background-color:#68b9de !important; }
.pc-border-color{border-color:#68b9de !important; }

.lezat-color{color:#b7d557 !important; }
.lezat-background-color{background-color:#b7d557 !important;  }
.lezat-background-image{background-image:url(''); }
.lezat-hover:hover{background-color:#b7d557 !important; }
.lezat-border-color{border-color:#b7d557 !important; }

.sehat-color{color:#5bd890 !important; }
.sehat-background-color{background-color::#5bd890 !important; }
.sehat-background-image{background-image:url(''); }
.sehat-hover:hover{background-color::#5bd890 !important; }
.sehat-border-color{border-color:#5bd890 !important; }

.rumah-color{color:#7e507e !important; }
.rumah-background-color{background-color:#7e507e !important; }
.rumah-background-image{background-image:url(''); }
.rumah-hover:hover{background-color:#7e507e !important; }
.rumah-border-color{border-color:#7e507e !important; }

.traveling-color{color:#5fa2a1 !important; }
.traveling-background-color{background-color:#5fa2a1 !important; }
.traveling-background-image{background-image:url(''); }
.traveling-hover:hover{background-color:#5fa2a1 !important; }
.traveling-border-color{border-color:#5fa2a1 !important; }
