/* =============================================================================
   icon
   ========================================================================== */
.icon{display:inline-block;font-family:invoku;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}.icon-2x{font-size:2em}.icon-3x{font-size:3em}.icon-4x{font-size:4em}.icon-5x{font-size:5em}.icon-fw{width:1.2857142857142858em;text-align:center}.icon-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.icon-ul>li{position:relative}.icon-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.icon-li.icon-lg{left:-1.8571428571428572em}.icon-border{padding:.2em .25em .15em;border:.08em solid #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.icon.pull-left{margin-right:.3em}.icon.pull-right{margin-left:.3em}.icon-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.icon-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.icon-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.icon-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}.icon-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1)}.icon-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1)}.icon-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.icon-stack-1x,.icon-stack-2x{position:absolute;left:0;width:100%;text-align:center}.icon-stack-1x{line-height:inherit}.icon-stack-2x{font-size:2em}.icon-putih{color:#fff}
/* =============================================================================
   slider
   ========================================================================== */
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-next,.slick-prev{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;margin-top:-10px;padding:0;cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-family:slick;font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'←'}[dir=rtl] .slick-prev:before{content:'→'}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}.slick-next:before{content:'→'}[dir=rtl] .slick-next:before{content:'←'}.slick-dots{position:absolute;bottom:0;display:block;width:100%;padding:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-family:monospace;font-size:13px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'o';text-align:center;opacity:.25;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:#fff}

/* =============================================================================

   HTML5 display definitions

   ========================================================================== */



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }



html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }



body { margin: 0; font-size: 100%; line-height: 1.231; }



body, button, input, select, textarea { font: 14px/1.428571429 Roboto, sans-serif; }

::selection { text-shadow: none; background-color: highlight; color: highlighttext; }

a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }



/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }



b, strong { font-weight: bold; }



blockquote { margin: 1em 40px; }



dfn { font-style: italic; }



hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }



ins { background: #ff9; color: #000; text-decoration: none; }



mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }



/* Redeclare monospace font family: h5bp.com/j */

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }



/* Improve readability of pre-formatted text in all browsers */

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }



q { quotes: none; }

q:before, q:after { content: ""; content: none; }



small { font-size: 85%; }



/* Position subscript and superscript content without affecting line-height: h5bp.com/k */

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }



input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

/* For image replacement */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }

.ir br { display: none; }



/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden { display: none !important; visibility: hidden; }



/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }



/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }



/* Hide visually and from screenreaders, but maintain layout */

.invisible { visibility: hidden; }



/* Contain floats: h5bp.com/q */

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }





@media print {

    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */

    a, a:visited { text-decoration: none; }

    a[href]:after { content: " (" attr(href) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */

    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

    table { display: table-header-group; } /* h5bp.com/t */

    tr, img { page-break-inside: avoid; }

    img { max-width: 100% !important; }

    @page { margin: 0.5cm; }

    p, h2, h3 { orphans: 3; widows: 3; }

    h2, h3 { page-break-after: avoid; }

	.img-responsive {display: block;max-width: 100%;height: auto;}

	p {margin: 0 0 10px;}

	.small, small { font-size: 85%}

	.text-left { text-align: left;}

	.text-right {text-align: right;}

	.text-center {text-align: center;}

	ol, ul {margin-top: 0; margin-bottom: 10px;}

	ol ol, ol ul, ul ol, ul ul { margin-bottom: 0;}

	.list-inline, .list-unstyled { padding-left: 0;list-style: none;}

	.thumbnail {

    display: block;

    padding: 0;

    line-height: 1.428571429;

    background-color: #fff;

    -webkit-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;

    border-radius: 2px;

    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.1);

}

.thumbnail .caption { padding: 9px; color: #333;}

p { margin: 0; }



html {

    overflow-y: auto;

    background-color: transparent;

    height: 100%;

}



body {

    font: normal 100%;

    position: relative;

    height: 100%;

	font: 14px/1.428571429 Roboto, sans-serif;

	background-color: #f0f0f0;

}



body, div, img, p, button, input, select, textarea, a {

    box-sizing: border-box;

}



.image {

    display: block;

}



input {

    cursor: default;

    display: block;

}



input[type=button] {

    background-color: rgb(137, 234, 210);

    border-radius: 4px;

    font: inherit;

    letter-spacing: inherit;

    text-indent: inherit;

	color: inherit;

	float: left;

}



input[type=button]:hover {

    background-color: #eff1f1;

}



input[type=button]:active {

    background-color: #d2d6d6;

    border: 1px solid #9daca9;

    box-shadow: inset 0 1px rgba(0,0,0,0.1);

}



a, a:visited, a:hover, a:active {

    color: inherit;

    text-decoration: inherit;

}

[role="button"] {

  cursor: pointer;

}

}

}

/* =============================================================================

   Tambahan / add ons

   ========================================================================== */
#list-main {
    margin: 0 auto;
}
.post img {
     max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.thumbnail {
    display: block;
    padding: 0;
    line-height: 1.428571429;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.1);
}
.homapge-thumb {
  width: 290px;
  margin: 5px 10px;
  float: left;
}
.ukuran-1{width:20%;}
.ukuran-2{width:32%;}
.ukuran-3{width:50%;}
/* masonry */

.masonry, .masonry .masonry-brick {

    -webkit-transition-duration: .7s;

    -moz-transition-duration: .7s;

    -ms-transition-duration: .7s;

    -o-transition-duration: .7s;

    transition-duration: .7s;

}

.masonry {

    -webkit-transition-property: height, width;

    -moz-transition-property: height, width;

    -ms-transition-property: height, width;

    -o-transition-property: height, width;

    transition-property: height, width;

}

.masonry .masonry-brick {

    -webkit-transition-property: left, right, top;

    -moz-transition-property: left, right, top;

    -ms-transition-property: left, right, top;

    -o-transition-property: left, right, top;

    transition-property: left, right, top;

}
.jqmaintitle h1{
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.jqmaintitle h1 a{
  color: #2c3e50 !important;
  display: block;
  padding-bottom: 10px;
  font-family: 'Slabo 27px', serif;
  line-height: 1.2em;
}
.post {
color: #666666;
font: 14px/1.428571429 Roboto, sans-serif;
line-height: 2em;
margin-bottom: 10px;
}
.post-outer{
font: 14px/1.428571429 Roboto, sans-serif;
line-height: 2em;
margin-bottom: 10px;
}
.post h2.post-title {letter-spacing:-1px;margin-top:0px;}
.post h2 a {color: #353737; letter-spacing:-1px;}
.post h2 a:hover {color: #666;text-decoration: none;}
.post h2, .post h3 {padding: 10px 0px; font-weight: normal; color: #666;}
.post h4, .post h5, .post h6 {padding: 10px 0px; font-size: 14px; font-weight: normal; color: #666;}
.post blockquote {display: block; margin: 20px; padding: 0px 30px; background:#ddd; font-style: italic; color: #999;}
/* IMAGES */
img.centered {display: block; margin: auto;}
img.alignright {display: inline; margin: 0px 0px 10px 20px;}
img.alignleft {display: inline; margin: 0px 20px 10px 0px;}
.alignleft {float: left;}
.alignright {float: right;}
.post-footer-line-1{display:none;}
