.kotak-kecil {
display:inline-block;
width:10px;
height:10px;
background:#7e1de7;
margin:0 5px 0 15px;
}

.kotak-besar {
width:30px;
height:30px;
display:inline-block;
background:orange;
margin:0 20px 0 0;
}

.kotak {
border: 1px solid #e5e5e5;
    display: block;
    margin: 20px 0;
    padding: 30px 15px;
}
.kotak span.judul.is_stuck {
padding: 10px 0px 10px;
background-color: white;
border-bottom:1px solid #D8D8D8;
}
.kotak span.judul {
font-weight: 400;
    display: block;
    font-size: 26px;
    padding: 0 0 20px;
    z-index: 900;
}

.kotak span.sub-judul {
font-weight:300;
}

.kotak .isi {
border: 1px solid #d8d8d8;
    background: #FFF;
    padding: 20px;
}

.kotak .isi iframe {
display:block;
width:100%;
box-shadow:none;
border:none;
overflow:hidden;
}

.kotak .isi span {
text-align:center;
font-style:italic;
}

.kotak-isi-pendahuluan img {
max-width:100.5%;
height:auto;
margin-left:-2px;
margin-top:-2px;
}

.kotak-isi-pendahuluan .atas-kotak {
padding:15px 20px;
}

.kotak-isi-pendahuluan p {
display:inline;
line-height:0;
font-size:16px;
}

.kotak-isi-pendahuluan p.isi {
padding:5px 15px 20px;
}

.kotak .isi .isi-bahan {
font-size:16px;
}

.kotak .isi-bahan {
margin-bottom:35px;
display:inline-block;
width:100%;
background:none;
border:none;
padding:0 0 0 20px;
}

.kotak .isi-bahan p {
border-bottom:2.6px dotted #d8d8d8;
font-size:16px;
padding:6px!important;
}

.kotak .isi-langkah {
margin-bottom:35px;
display:inline-block;
padding:15px 30px;
}

.kotak .isi-langkah p {
padding-top:0!important;
margin-bottom:0!important;
padding-bottom:0!important;
line-height:26px;
}

.kotak .isi .gambar {
width:100%;
display:block;
}

.kotak .isi .urutan {
width:70px;
margin-top:-10px;
display:inline-block;
font-size:50px;
font-weight:700;
color:#535353;
float:left;
text-align:center;
font-style:normal;
}

.kotak .isi-tips p {
font-size:16px;
padding:6px!important;
}

.kotak .isi-catatan p {
padding:9px!important;
}

.kotak .isi-referensi p {
font-size:12px;
}

.kotak .isi ul {
list-style-type:decimal;
}

.kotak .isi ul.referensi-list {
list-style-type:disc;
}

.kotak .isi ul li {
font-style:normal;
}

.kotak .isi ul.referensi-list li {
font-style:italic;
font-size:16px;
}

.kotak-isi-pendahuluan,.kotak .isi .gambar img {
width:100%;
}
.kotak .isi-bahan ol {    padding: 0 30px 0px 0px;}
.kotak .isi-bahan ul li,.kotak .isi-bahan ol li {
border-bottom:2.6px dotted #d8d8d8;
font-size:16px;
margin-left:20px;
padding:6px!important;
}

.kotak .isi-langkah ol li,.kotak .isi-langkah ul li {
border-bottom:2.6px dotted #d8d8d8;
font-size:16px;
list-style-type:decimal;
padding:6px!important;
}

.kotak .isi-tips ul li,.kotak .isi-tips ol li {
border-bottom:2.6px dotted #d8d8d8;
font-size:16px;
list-style-type:decimal;
margin-left:26px;
padding:6px!important;
}

.kotak .isi-catatan ul li,.kotak .isi-catatan ol li {
list-style-type:decimal;
padding:9px!important;
}

.kotak .isi-referensi ul li,.kotak .isi-referensi ol li {
font-size:11px;
list-style-type:disc;
margin-left:10px;
}
/*========== Rincian============ */
.kotak .rincian-buku
{text-align: left; text-indent: 0; padding: 0; margin: 0;}
.kotak .rincian-buku table
{width:100%;border:1px;}
.kotak .rincian-buku table even{background:red }
.kotak .rincian-buku td.rincian-judul
{  width: 50px;    vertical-align: middle;}
.kotak .rincian-buku td.rincian-judul span
{font-weight:bold;: none;}
.kotak .rincian-buku td.isi-rincian 
{width:50%;border-width : 0;vertical-align: middle;}

.kotak .rincian-buku td.isi-rincian p
{     line-height: 2em;
    padding-bottom: 0;
    border-bottom: 2px dotted #E5E5E5;
    margin: 0;
}
.kotak .rincian-buku td.rincian-sampul-buku
{width:276px;border-width : 0;}
.kotak .rincian-buku .gambar-sampul-buku
{ }
.kotak .rincian-buku .gambar-sampul-buku img
{box-shadow: 6px 6px 0px rgba(193, 193, 193, 0.41);
    border: 1px solid #EAEAEA;
	
}
  /*========== sinopsis ============ */
.kotak .isi-sinopsis p
{
padding: 5px 15px 20px;
}
  /*========== download ============ */
.kotak .isi-download
{
padding: 5px 15px 20px;
}
/*pager */
.blog-pager{margin: 1em 0 0 0; !important}
.mbt-pager { border-top: 2px dashed #ddd; overflow:hidden; padding:0px;} 
.mbt-pager li.next { float: right; padding:0px; background:none; margin:0px;} 
.mbt-pager li.next a {text-align: right;padding-left: 24px; }
.mbt-pager li.previous { margin:0px -2px 0px 0px; float: left;     border-right: 2px dashed #ddd; padding:0px; background:none; 
} 
.mbt-pager li.previous a {text-align: left; padding-right: 24px;  }
.mbt-pager li.next:hover, .mbt-pager li.previous:hover  {background:#8FB4D7; }
.mbt-pager li { width: 50%; display: inline; float: left; text-align: center; } 
.mbt-pager li a {position: relative; min-height: 77px; display: block; padding: 15px 46px 15px; outline:none; text-decoration:none;}
.mbt-pager li i { color: #ccc; font-size: 18px; }
.mbt-pager li a strong { display: block; font-size: 20px; color: #ccc; letter-spacing: 0.5px; font-weight: bold; text-transform: uppercase;}
.mbt-pager li a span { font-size: 18px; color: #666;font-family: 'Slabo 27px' serif; margin:0px;} 
.mbt-pager li a:hover span, 
.mbt-pager li a:hover i { color: #ffffff; } 
.mbt-pager li.previous i { float:left; margin-top:8%; margin-left:5%; } 
.mbt-pager li.next i { float: right; 
margin-top: 8%; 
margin-right: 5%; }
.mbt-pager li.next i, .mbt-pager li.previous i , 
.mbt-pager li.next,  .mbt-pager li.previous{ 
-webkit-transition-property: background color; -webkit-transition-duration: 0.4s; -webkit-transition-timing-function: ease-out; 
-moz-transition-property: background color; -moz-transition-duration: 0.4s; -moz-transition-timing-function: ease-out; 
-o-transition-property: background color; -o-transition-duration: 0.4s; -o-transition-timing-function: ease-out; 
transition-property: background color; transition-duration: 0.4s; transition-timing-function: ease-out; }
.fa-chevron-right {padding-right:0px;}
/*universal */
.post{
                  padding: 2.5% !important; 
                  background: white !important;
                  padding-bottom:0;
                }
.post-timestamp {
    background-color: rgba(226, 226, 226, 0.87);
    font-size: 1.2em;
    padding: 0 !important;
    float: left;
    font-weight: 300;
                }
abbr[title]{    padding: 5px 6px;    border: none;}
.post-title{
                  font-weight: 400;
                  font-family: 'Slabo 27px';
                  color: rgb(34, 34, 34);
                  font-size: 3em;
                  padding: 3% 1% 7%;
		line-height: 1em;
                }
                .font-sizer{
                  float: right;
                  right: 0;
                  padding: 5px 10px;
                  font-size: 1em;
                  color: #fff;
                }
                .plus
                {
                  background: rgb(191, 81, 255);
                }
                .minus
                {
                  background: rgb(147, 0, 234);
                }
            .img-home-thumb:hover
              {
            box-shadow: 1px 0px 10px #A9A8A8;
            }
.post img {
     max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.thumbnail {
    display: block;
    padding: 0;
    line-height: 1.428571429;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.1);
}
/*related */
#related-posts {
float:center;
text-transform:none;
height:100%;
min-height:100%;
padding-top:5px;
padding-left:5px;
}

#related-posts h2{
font-size: 18px;
letter-spacing: 2px;
font-weight: bold;
text-transform: none;
color: #5D5D5D;
font-family: Arial Narrow;
margin-bottom: 0.75em;
margin-top: 0em;
padding-top: 0em;
}
#related-posts a{
padding: 3px !important;
border-right: 1px dotted #DDDDDD;
color:#5D5D5D;
}
#related-posts a div{
    display: inline-block;
    width: 168px;
    padding: 0 10px;
    color: #CACACA;	
}
#related-posts a:hover{
color:black;
background-color:#EDEDEF;
}

/*=========NEW V2 =======================*/
.item-header h1:first-child{
font-weight:bold;    font-family: cursive;
}
.item-header h1{
  color: white;
  font-weight: 300;
  margin: 0 10%;
  text-transform: capitalize;
}
.item-header{
  text-align: center;
  padding: 4% 0;
  margin: 0;
  
}
.item-header span{
  padding: 60px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
}


.items-area-kiri{  
  border-radius: 6px;
  color: white;
  width: inherit;
  }
.items-area-kiri .item-menu {
  margin: 15px 0;
  border-radius: 6px;
  background-color: darkgrey;
  color: white;
  padding: 15px;
  float: left;
  width: 100%;
}
.items-area-kiri .item-menu .item-setting{}
.item-menu.item-setting a{
  color: initial;
  border-radius: 4px;
  background-color: rgb(216, 216, 216);
  font-size: 12px;
  padding: 4px 6px;
  display: inline-block;
}
.item-judul-blok{
  margin: -15px -15px 15px -15px;
  background-color: rgb(190, 190, 190);
  border-radius: 6px 6px 0 0;
  padding: 8px;font-size: 20px;
}
.item-judul{
  font-size: 20px;
  border-bottom: 1px solid;
  margin: 0 0 10px 0;
}
.item-judul i{}
.item-setting button.bookmarks:hover
{border: 2px solid #E6E6E6;}
.item-setting button.bookmarks{ 
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: cadetblue;
  border-radius: 6px;
  margin: 15px 0 0;
 }
.item-setting .item-setting-size {  
background-color: transparent;
  border: 1px solid;
  padding: 7px 15px;
  color: rgb(255, 255, 255);
  font-family: serif
  }
.item-setting .item-setting-size.lebih-kecil
{
	border-radius: 4px 0 0 4px;
	border-right: none;
	
  }
.item-setting .item-setting-size.lebih-besar
{
margin-left: -4px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 15px 6px 15px;
}
.item-setting .ganti-sesi{  
  width: 60px;
  float: left;
  height: 20px;
  margin: 6px 20px;
  border-radius: 6px;
  background-color: rgb(213, 213, 213);
  }
.item-setting .ganti-sesi button:hover
{box-shadow: 0 0px 6px 1px white;}
.item-setting .ganti-sesi button{
height: 26px;
  width: 26px;
  border: none;
  background-color: rgb(103, 103, 103);
  margin-left: 0;
  margin-top: -3px;
  border-radius: 6px;
}

.items-area-kiri .item-menu.item-contents{}
.item-contents .statistic-jumlah.first-child{ border-left: 0;
  margin-left: 0; }
.item-contents .statistic-jumlah{  
border-left: 1px solid;
  margin-left: -1px;
  text-align: center;}
.item-contents .statistic-jumlah strong{display: block;
  font-size: 24px;
  text-align: center;}
.item-contents .menu-isi{  padding: 20px 0;}
.item-contents .menu-isi ul{  margin: 0;
  padding: 0;}
.item-contents .menu-isi ul li{  font-weight: bold;
  list-style-type: none;    font-size: 1.2em;}
.item-contents .menu-isi ul li a{
border-left: 2px solid;
padding: 0 5px;
 border-color: rgb(142, 142, 142);
color:white;
}
.item-contents .menu-isi ul li a:hover{
color: #464646;border-color: rgb(70, 70, 70);
}
.list-tag{  padding: 20px 0;}
.list-tag a{text-decoration: none;
  color: inherit !important;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #989898;
  display: inline-block;}

.items-area-kiri .item-menu.revisi{  color: grey;  background-color: rgb(232, 232, 232);}
.items-area-kiri .item-menu.revisi h3{}
.items-area-kiri .item-menu.revisi button{
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: cadetblue;
  border-radius: 6px;
}


.gambar-utama{z-index:10}
.gambar-utama img{
  width: 100%;
  position: absolute;
}
.items-area-tengah .item-isi-judul span{
color: cadetblue;
  padding: 10px;
}
.items-area-tengah .item-isi-judul{
  position: absolute;
  z-index: 9000;
  width: 100%;
}   
.items-area-tengah{   
margin-top: -80px;
width: 100%;
  float: left;
  position: relative;} 
.items-area-tengah .item-isi{
  background-color: white;
  float: left;
  padding: 20px 20px 0;
  border-radius: 0 0 8px 8px;
  z-index: 90;
  border-top: 0 !important;
  border: 2px solid rgb(190, 199, 215);
  position: relative;
  margin-top: 300px;
  }
  
  
  
.items-area-kanan{}

/**popular post ==========*/

.popular-posts ul
{
padding: 0 20px !important; 	
}
.PopularPosts .item-title
{
 padding: 15px 10px !important;
}
.PopularPosts .item-title a
{
    font-weight: bold;
    color: inherit;
}
.PopularPosts .item-thumbnail
{   
margin: 0 0px 20px 0 !important;
}
.PopularPosts .widget-content ul li
{
    background-color: white;
    margin: 0 -4px 20px 0 !important;
    border-radius: 4px;
    border: 1px solid #E2E2E2;
    padding : 0 !important;
}
.PopularPosts h2
{ 
    margin: 20px;
    font-weight: 400;
    padding: 5px 10px;
    border-left: 4px solid;
}
.PopularPosts img
{
 width: 100%;
}

/*diskusi*/
.diskusi
{margin-top: 20px;
    display: block;
    float: left;
    padding-bottom: 20px;
    width: 100%;}
.diskusi .btn-diskusi
{width: 100%;
    background-color: transparent;
    border: 2px solid;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 4px;
    color: inherit;}
.yangsama{
 margin-top: 50px;
 background-color: #505050;
padding-bottom: 15px;
}
.yangsama h2{
    font-weight: 400;
    padding: 0 20px;
    color: white;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 19px;
    height: 19px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
content: '✔';
    position: absolute;
    top: 0px;
    margin-top: -6px;
    left: 4px;
    font-size: 29px;
    color: #09ad7e;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}
/*SOCIAL SHARE*/
.social-share{    width: 100%;
    float: left;
    display: block;}
.social-share .total-share
{display: inline-block;
    padding: 10px 20px 10px 0;
    border-right: 1px solid;    
    vertical-align: bottom;}
.social-share .total-share .share-btn 
{display: inline-block;
    padding: 5px;}
.social-share .share-btn {display: inline-block;
    padding: 5px 10px;
    margin-left: 8px;
border-left: 1px solid rgba(255, 255, 255, 0.52);
}
.social-share .share-btn .jumlah-total 
{
	text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.social-share .share-btn .bawah-total
{
	margin: 10px 0 0;
}
.social-share .share-button-area
{
	display: inline-block;
    float: none;
    width: 77%;
}
.social-share .share-button-area ul
{
	width: 100%;
    padding: 0;
}
.social-share .share-button-area ul li
{
	list-style: none;
    padding: 5px 10px 5px 30px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 10px;
}
.social-share .share-button-area ul li a{
    color: white;
    font-size: 18px;
}
.social-share .share-button-area ul li .count{}

.social-share .button_more:hover
{background: #E4E4E4;}
.social-share .button_more {
    background: #C7C7C7;
    padding: 10px 25px !important;
}
.social-share .button_facebook:hover
{background: #6888D2;}
.social-share .button_facebook
{background:#3a579a;}
.social-share .button_twitter:hover
{background: rgba(0, 171, 240, 0.72);}
.social-share .button_twitter
{background: #00abf0;}
.social-share .button_googleplus 
{    background: #df4a32;}
.social-share .button_pinterest 
{    background: #cd1c1f;}
.social-share .button_stumbleupon 
{    background: #ea4b24;}
/* trigger for sticky*/
.sticky_parent
{float: left !important;}
#showdiskusi
{display:none;}
.switch-grey
{}
.switch-black
{background:black !important;color:white !important;}
.switch-grey
{background:#2D2D2D !important;color:white !important;}
